##### 4).explain Central limit theoem by random data python

In [ ]:
for an exaple we h6+ave 1000 population and it does not follows 
normalizations than we have to divide into  1000 population into
20 samples we have to each sample has 50 observations 
we try to draw basedn on values after that we draw a and after
its follwsnormal distribution it is called central limit theorem

#### 1)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data={'A':[1,2,np.nan,4],
      'B':[5,np.nan,np.nan,8],
      'C':[np.nan,np.nan,np.nan,np.nan]}
df=pd.DataFrame(data)
print("DataFrame with null values:")
print(df)
filled_df=df.fillna({'A':0, 'B': 10, 'C':20})

print("DataFrame after filling null values:")
print(filled_df)

DataFrame with null values:
     A    B   C
0  1.0  5.0 NaN
1  2.0  NaN NaN
2  NaN  NaN NaN
3  4.0  8.0 NaN

DataFrame after filling null values:
     A     B     C
0  1.0   5.0  20.0
1  2.0  10.0  20.0
2  0.0  10.0  20.0
3  4.0   8.0  20.0

### 8)

In [6]:
def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

leap_years = []

for year in range(1700, 1987):
    if is_leap_year(year):
        leap_years.append(year)

print("Leap years between 1700 and 1986:")
print(leap_years)
print("Count of leap years:",
len(leap_years))

Leap years between 1700 and 1986:
[1704, 1708, 1712, 1716, 1720, 1724, 1728, 1732, 1736, 1740, 1744, 1748, 1752, 1756, 1760, 1764, 1768, 1772, 1776, 1780, 1784, 1788, 1792, 1796, 1804, 1808, 1812, 1816, 1820, 1824, 1828, 1832, 1836, 1840, 1844, 1848, 1852, 1856, 1860, 1864, 1868, 1872, 1876, 1880, 1884, 1888, 1892, 1896, 1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984]
Count of leap years: 69

#### 9)

In [11]:
import pandas as pd

In [10]:
letters = [chr(i) for i in range(65, 91)]
ascii_values = [ord(letter) for letter in letters]

df = pd.DataFrame({'Letter': letters, 'ASCII value': ascii_values})
print(df)

   Letter  ASCII value
0       A           65
1       B           66
2       C           67
3       D           68
4       E           69
5       F           70
6       G           71
7       H           72
8       I           73
9       J           74
10      K           75
11      L           76
12      M           77
13      N           78
14      O           79
15      P           80
16      Q           81
17      R           82
18      S           83
19      T           84
20      U           85
21      V           86
22      W           87
23      X           88
24      Y           89
25      Z           90

##### 10)

In [1]:
def fibonacci(n):
    fib_series = []
    a, b = 0, 1
    for _ in range(n):
        fib_series.append(a)
        a, b = b, a + b
    return fib_series
num_terms = int(input("Enter the number of terms in the Fibonacci series: "))

print("Fibonacci Series:")
for number in fibonacci(num_terms):
    print(n9020.
          umber, end=" ")

Enter the number of terms in the Fibonacci series: 55
Fibonacci Series:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074 32951280099 53316291173 86267571272